.config/.config/
.config/Code - Insiders/
.config/Code - OSS/
.config/Code/
.config/Docker Desktop/
.config/GIMP/
.config/Google/
.config/Insomnia/
.config/JetBrains/
.config/Mattermost/
.config/Meilisearch/
.config/Notion/
.config/QtProject.conf
.config/RStudio/
.config/Raspberry Pi/
.config/Slack/
.config/SpeedCrunch/
.config/Thunar/
.config/VSCodium/
.config/VirtualBox/
.config/arch-packages-yay.txt
.config/arch-packages.txt
.config/argocd/
.config/autostart/
.config/balena-etcher-electron/
.config/balena-etcher/
.config/baru/
.config/btop/
.config/cef_user_data/
.config/clipcat/
.config/configstore/
.config/create-next-app-nodejs/
.config/dconf/
.config/direnv/
.config/discord/
.config/enchant/
.config/eww/
.config/gcloud/
.config/geeqie/
.config/gh/
.config/glab-cli/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/htop/
.config/inkdrop/
.config/inkscape/
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/kitty
.config/libreoffice/
.config/lwp/
.config/menus/
.config/mimeapps.list
.config/mpv/
.config/nautilus/
.config/nemo/
.config/nextjs-nodejs/
.config/notion-app/
.config/nvim.bak/
.config/onlyoffice/
.config/pavucontrol.ini
.config/pulse/
.config/pypoetry/
.config/python_keyring/
.config/ripgrep-all/
.config/rstudio/
.config/sniffnet/
.config/snippets/
.config/spotify-tui/
.config/spotify/
.config/spotifyd
.config/systemd/
.config/teams/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/whatscli/
.config/whatsdesk/
.config/xfce4/
.config/yarn/
.local/share/
.local/state/
.config/Postman/
.config/xbuild/
.config/azuredatastudio/
.config/csharp.history
.config/freerdp/
.config/go/
.config/remmina/
.config/tigervnc/
.config/zed/
