[user]
	email = simanga-dev@users.noreply.github.com
	name = Simanga Khoza
[merge]
	tool = nvimdiff
[core]
	editor = nvim
[push]
	default = current
	autoSetupRemote = true
[pull]
	default = matching
	rebase = true
[branch]
	autoSetupMerge = always
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[coderabbit]
	machineId = cli/04e2785fe83a401d99c95631ad4da098
