[user]
	email = simanga-dev@users.noreply.github.com
	name = Simanga Hendry Khoza
[merge]
	tool = nvimdiff
	conflictStyle = zdiff3
[core]
	editor = nvim
	pager = delta
[push]
	default = current
	autoSetupRemote = true
[pull]
	default = matching
	rebase = true
[branch]
	autoSetupMerge = always
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /mnt/project
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
